* {
    margin: 0;
}

/* Pedro | Estilização da header */
header img {
    width: 250px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F1F24;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

nav a {
    all: unset;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

nav a:hover {
    color: #d2c2b0;
}
/* ------------------- */