* {
    margin: 0;
}

/* Pedro - header styling */

header img {
    width: 250px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F1F24;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 450px;
    
}

nav a {
    all: unset;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

nav a:hover {
    color: #d2c2b0;
}

/* Pedro - section#nossos-servicos */

#nossos-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 10fr;
    width: 100vw;
}

#nossos-servicos h2{
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: start;
}

#nossos-servicos article{
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 18px;
}

#nossos-servicos {
    height: 500px;
    justify-items: center;
    align-items: center;    
}

#nossos-servicos img {
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 2;
}

/* =============== Codigo Micael =============== */

footer {
    background-color: #79716a;
    height: 10vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    
}