* {
  margin: 0;
}

body {
  max-width: 1280px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* Pedro | Estilização da header */
header img {
  width: 250px;
}

header {
  padding: 0 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F1F24;
}

nav {
  padding: 9px 0;
  display: flex;
  justify-content: space-around;
  width: 450px;
}

nav a {
  all: unset;
  color: whitesmoke;
  font-size: 18px;
}

nav a:hover {
  color: #d2c2b0;
    margin: 0;
}

/* Pedro - header styling */

header img {
    width: 250px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F1F24;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 450px;
    
}

nav a:hover {
  color: #d2c2b0;
}

/* Pedro - section#nossos-servicos */

#nossos-servicos {
  height: 60vh;
  background-image: linear-gradient(rgba(31, 31, 36, 0.9),rgba(31, 31, 36, 0.85),rgba(31, 31, 36, 0.6)), url('img/Business-photo.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10vh
}

#nossos-servicos>h2 {
  color: #FFF;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin: 10vh 15% 0 15% ;
}

#nossos-servicos>article {
  margin: 0 10%;
}

#nossos-servicos>article>h3 {
  color: #E9E1D8;
  font-size: 2rem;
}

#nossos-servicos>article>p {
  color: #D2C2B0;
  margin: 5vh 5% 0 5%;
}

/* Roberto: Estilização da section Quem Somos */
#quem-somos {
  background-color: #D2C2B0;
  height: 40vh;
  display: flex;
  align-items: center;
}

#quem-somos>div {
  width: 600px;
  margin: 0 10%;
}

#quem-somos>div>h2 {
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  letter-spacing: 0.5rem;
}

#quem-somos>p {
  color: #1F1F24;
  font-size: 1rem;
  background-color: #79716a;
  height: 10vh;
  color: #fff;
}

/* ======== Codigo Micael - Nosso time ======== */
#nosso-time {
  height: 100vh;
  background-image: linear-gradient(rgba(121, 113, 106, 0.6),rgba(121, 113, 106, 0.85),rgba(121, 113, 106, 0.9)), url('img/nosso-time.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 15vh;
}

#nosso-time>h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #FFF;
  margin-top: 20vh;
}

.equipe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
}

.equipe .card {
  padding: 20px;
  text-align: center;
}

.card>img {
  margin: auto;
  border-radius: 50%;
  border: 2px solid #e9e1d8;
  width: 128px;
}

.card>.container {
  color: #1f1f24;
  text-align: center;
}

.container>h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}


/* =============== Codigo Micael - Footer =============== */

footer {
  background-color: #1f1f24; 
  height: 20vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#social-media1{
  width: 20px;
  margin-right: 20px;
  filter: invert(100%);
  
}
#social-media2 {
  width: 20px;
  color: white;
  margin-right: 20px;
  filter: invert(100%);
}
#social-media3 {
  width: 20px;
  color: white;
  margin-right: 20px;
  filter: invert(100%);
} 
/* =============== FIM Codigo Micael - Footer =============== */